<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>HC Sticky</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="<%= style_path %>" type="text/css" media="all">
</head>

<body>

  <h1>HC Sticky</h1>

  <h3>Cross-browser plugin that makes any element on your page visible while you scroll</h3>

  <%= demos %>

  <a href="http://somewebmedia.com" target="_blank" id="swm">Some Web Media</a>

</body>
</html>